@font-face
  font-family: 'MuseoSansCyrl'
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff2') format("woff2"), url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'MuseoSansCyrl'
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff2') format("woff2"), url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff') format("woff")
  font-weight: 300
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Oswald'
  src: url('../fonts/Oswald/Oswald-Bold.woff2') format("woff2"), url('../fonts/Oswald/Oswald-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Oswald'
  src: url('../fonts/Oswald/Oswald-Regular.woff2') format("woff2"), url('../fonts/Oswald/Oswald-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap