@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------



.header
	position: relative
	padding: 100px
	max-width: 1920px
	margin: 0 auto
	min-height: 1600px


.logo
	position: relative
	display: inline-block
	margin-bottom: 90px
	z-index: 10

.main-menu
	position: relative
	max-width: 130px
	z-index: 10
	list-style: none

	li
		margin-bottom: 30px

		a
			position: relative
			padding: 0 0 0 27px
			font-size: 12px

			&:before
				content: ''
				position: absolute
				left: 0
				top: 4px
				width: 7px
				height: 7px
				border: 1px solid $main
				transform: rotate(45deg)
				transition: all .3s
				border-radius: 1px

			&:hover
				color: #000
				opacity: 1

				&:before
					background: $main



.banner
	position: absolute
	left: 0
	top: 0
	padding: 30px 0 0
	overflow: hidden

	&-overlay
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		overflow: hidden


	.container
		display: flex
		justify-content: flex-end
		padding-top: 120px

	&-text
		position: relative
		z-index: 1
		.h2
			margin-bottom: 20px

			&+p
				margin-bottom: 60px
				font-size: 24px
		.btn
			margin-bottom: 15px

			&+p
				padding-left: 45px
				font-size: 20px
				color: #000
				opacity: .5

	&-gear
		position: absolute

		&__grey
			top: 17%
			left: 17%
			z-index: -1
			max-width: 16%
			animation: rotate 10s linear infinite

		&__black
			top: 5%
			right: -38%
			max-width: 62%
			z-index: -1
			animation: rotate-counterclock-wise 15s linear infinite



.btn
	display: inline-block
	padding: 20px 45px
	font-size: 24px
	color: #fff
	background: $main
	text-align: center
	border: 0
	outline: 0
	border-radius: 6px

	&:hover
		color: #fff

	&-grey
		padding: 8px 22px
		font-size: 18px
		line-height: 30px
		background: rgba(245, 245, 245, 0.2)

	&-white
		padding: 9px 38px 7px
		font-size: 18px
		line-height: 30px
		color: #000
		background: #fff
		line-height: 24px

		&:hover
			color: #000

		


@keyframes rotate
	from
		transform: rotate(360deg)


@keyframes rotate-counterclock-wise
	from
		transform: rotate(-360deg)


.color
	&-red
		color: $main

.system
	position: absolute
	top: 48%
	left: 0
	right: 0
	display: flex
	align-items: center
	justify-content: space-between

	&-text
		display: flex
		font-size: 300px
		font-weight: bold
		line-height: 300px

	.btn-grey
		position: relative
		right: 30px


.icon
	&-circle
		display: inline-block
		vertical-align: baseline
		width: 15px
		height: 15px
		border-radius: 50%
		border: 2px solid $main

	&-triangle
		position: relative

		&:before
			content: ''
			display: block
			border: 11px solid transparent
			border-left: 18px solid #fff
			transition: all .3s

		

	&-prev, &-next
		display: inline-block
		width: 10px
		height: 18px

	&-prev
		background: url(../img/icon-prev.svg)
		background-size: contain

	&-next
		background: url(../img/icon-next.svg)
		background-size: contain


.video
	position: absolute
	left: 0
	right: 0
	bottom: 0
	margin: auto
	display: flex
	align-items: center
	justify-content: center
	

	&-wrap
		width: 865px
		height: 450px
		border-right: 65px solid #0A0712

		iframe
			width: 100%
			height: 100%

	&-text
		padding-left: 114px
		font-size: 30px

	&-testimonials

		&__wrap
			max-width: 964px
			margin: 0 auto

			.h2, h2
				padding-left: 80px
				margin-bottom: 40px

			.row
				display: flex
				flex-wrap: wrap
				margin-left: -7px
				margin-right: -7px

				[class^='col']
					padding-left: 7px
					padding-right: 7px

		&__item
			position: relative
			display: block
			padding: 28px 35px
			margin-bottom: 16px
			border-radius: 10px
			border: 1px solid $main
			overflow: hidden
			color: #fff

			&:hover
				opacity: 1
				color: #fff

				>img
					transform: scale(1.1)



			&:before
				content: ''
				position: absolute
				left: 0
				top: 0
				bottom: 0
				width: 70%
				z-index: 0
				background: $main
				border-radius: 10px 0 0 10px

			&--text
				position: relative
				display: block
				margin: 40px 0 12px
				font-size: 16px
				line-height: 22px
				z-index: 1


			&--count
				position: relative
				display: block
				font-family: Oswald
				font-size: 25px
				line-height: 35px
				text-transform: uppercase
				z-index: 1

			>img
				position: absolute
				right: 0
				bottom: 0
				transition: all .5s






.section
	padding: 80px 0

.services

	&-header
		max-width: 542px
		margin: 0 auto 50px

		h2
			margin-bottom: 18px

	&-wrap
		position: relative
		
		.row
			margin-left: -8px
			margin-right: -8px

			[class^='col']
				position: static
				padding-left: 8px
				padding-right: 8px

	&-item
		display: flex
		flex-direction: column
		justify-content: space-between
		min-height: 184px
		padding: 20px 12px
		margin-bottom: 18px
		text-align: center
		background: $main
		color: #fff
		border-radius: 10px

		&:hover
			.services
				&-item
					&__info
						opacity: 1
						z-index: 1

		&__subtitle
			font-size: 20px
			line-height: 30px
			font-family: Oswald

		&__text
			font-size: 14px
			line-height: 20px

		&__info
			position: absolute
			left: 0
			top: 0
			bottom: 18px
			width: 74.666%
			display: flex
			opacity: 0
			z-index: -1
			flex-direction: column
			justify-content: space-between
			padding-bottom: 30px
			background: $main
			color: #fff
			text-align: left
			transition: all .3s

			.vertical-center
				height: calc(100% - 40px)
				padding-left: 18px

			&--list
				padding: 40px 98px
				

				li
					font-size: 18px
					line-height: 30px

			&--bottom
				height: 40px
				padding-left: 98px
				display: flex
				justify-content: space-between
				align-items: center

				.btn
					width: 200px

			&--price
				width: calc(100% - 214px)
				padding: 13px 44px
				background: #E0243F
				font-size: 12px
				border-radius: 5px 0 0 5px
				text-align: center



.vertical-center
	display: flex
	align-items: center



.advantages
	position: relative
	
	&:before
		content: ''
		position: absolute
		left: -500px
		top: 60%
		width: 1015px
		height: 1015px
		background: url(../img/human.png)
		z-index: -1


	&-wrap
		max-width: 884px
		margin: 0 auto

		.h2, h2
			margin-bottom: 40px

	&-item
		margin-bottom: 55px

		&:last-of-type
			margin-bottom: 0

		&__header
			position: relative
			font-size: 24px
			line-height: 60px
			text-transform: uppercase

			&:before
				content: ''
				position: absolute
				left: 0
				top: 20px
				left: -60px
				width: 18px
				height: 18px
				border: 1px solid #000
				border-radius: 5px
				transform: rotate(45deg)
				transition: all .3s

		&:hover
			.advantages
				&-item
					&__header
						&:before
							background: #000


.ticker
	padding: 19px 0 15px
	margin-bottom: 7px
	background: #000
	color: #fff
	font-size: 24px
	line-height: 35px

	span
		position: relative
		display: inline-block
		padding: 0 45px

		&:before
			content: ''
			position: absolute
			left: 0
			top: 12px
			width: 11px
			height: 11px
			background: #fff
			border-radius: 50%



.partners
	display: flex
	align-items: center
	background: #E2E7F5

	img
		display: inline-block
		margin: 0 50px
		vertical-align: middle
		max-width: 280px
		max-height: 90px


.partnership

	&-block
		max-width: 742px
		margin: 0 auto

		h2, .h2
			padding-left: 70px
			margin-bottom: 50px

	&-wrap
		max-width: 446px

	&-item
		display: flex
		flex-wrap: wrap

		&:last-child
			.partnership
				&-item
					&__icon

						&:before
							display: none

		&__icon
			position: relative
			width: 70px
			padding-top: 12px

			&:before
				content: ''
				position: absolute
				left: 12px
				bottom: 10px
				top: 60px
				width: 1px
				background: #000

		&__text
			width: calc(100% - 70px)
			padding-bottom: 35px

.team
	position: relative
	background: #E2E7F5
	overflow: hidden

	&:after
		content: ''
		position: absolute
		left: 0
		right: 0
		bottom: 0
		height: 170px
		background: #fff

	&-block
		max-width: 924px
		margin: 0 auto

		h2, .h2
			padding-left: 90px
			margin-bottom: 30px

	&-wrap
		position: relative
		display: flex
		flex-wrap: wrap
		margin-left: -28px
		margin-right: -28px

		.col
			width: 20%

	&-item
		margin-bottom: 60px
		padding-left: 28px
		padding-right: 28px
		text-align: center

		img
			display: block
			margin: 0 auto 10px

		p
			font-size: 16px
			line-height: 22px


	&-gear
		position: absolute
		bottom: 0
		right: -390px
		width: 470px
		height: 470px
		display: flex
		align-items: center
		justify-content: center

		&__black
			position: absolute
			left: 0
			right: 0
			bottom: 0
			top: 0
			margin: auto
			animation: rotate 10s linear infinite

		&__red
			animation: rotate-counterclock-wise 15s linear infinite


.certificates
	position: relative
	max-width: 924px
	margin: 0 auto
	z-index: 1

	.h2, h2
		padding-left: 90px
		margin-bottom: 30px

	&-wrap
		&.row
			margin-left: -24px
			margin-right: -24px

			[class^='col']
				padding-left: 24px
				padding-right: 24px

		img
			transition: all .3s
			&:hover
				box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.18)


.testimonials

	&-block
		max-width: 1060px
		margin: 0 auto

		h2, .h2
			padding-left: 90px
			margin-bottom: 30px

	&-wrap
		display: flex
		flex-wrap: wrap
		max-width: 996px
		box-shadow: 15px 15px 20px 0  rgba(0,0,0,0.18)

	&-slider
		width: calc(100% - 196px)


		&.slick-dotted.slick-slider
			margin: 0



.slick
	&-arrows
		width: 98px
		display: flex
		align-items: center
		justify-content: center
		background: $main
		border: 0
		outline: 0
		padding: 0

		&__prev
			border-radius: 6px 0 0 6px

		&__next
			border-radius: 0 6px 6px 0


.feedback

	&-wrap
		max-width: 768px
		margin: 0 auto

		.h3
			font-weight: normal

	&-form
		margin: 40px 0 0

		.row
			margin-left: -8px
			margin-right: -8px

			[class^='col']
				padding-left: 8px
				padding-right: 8px





.form

	&-field
		display: block
		width: 100%
		height: 60px
		padding: 0 20px
		margin-bottom: 15px
		border: 1px solid $main
		border-radius: 10px
		outline: none

	textarea
		padding: 15px
		height: 135px

	.btn
		width: 100%
		padding: 18px 45px
		font-size: 20px




.footer
	padding: 60px 0
	background: #0A0712
	color: #fff

	&-wrap
		max-width: 982px
		margin: 0 auto
		display: flex
		justify-content: space-between

	&-item

		.h5
			margin-bottom: 35px

		&__list
			list-style: none

			li
				font-size: 20px
				line-height: 35px

				a
					color: #fff




a.back-to-top
	display: none
	position: fixed
	z-index: 999
	left: 80px
	bottom: 350px
	padding: 3px 14px 3px 36px
	font-size: 12px
	border: 1px solid $main
	border-radius: 5px
	background: #fff

	&:before
		content: ''
		position: absolute
		left: 16px
		top: 7px
		width: 7px
		height: 7px
		border: 1px solid $main
		transform: rotate(45deg)
		transition: all .3s
		border-radius: 1px
		background: $main

	&:hover, &:focus
		opacity: 1
		color: #000































@media screen and (max-width: 1900px)

	.header
		padding: 60px
		min-height: 1340px



	.logo
		position: relative
		top: -20px
		margin-bottom: 40px

	.main-menu
		li
			margin-bottom: 20px

	
	.banner

		&-face
			height: 1300px
			width: 100%
			object-fit: cover

		.container
			padding-top: 80px

		&-text
			.h2
				&+p
					margin-bottom: 28px
					font-size: 18px

			.btn

				&+p
					padding-left: 32px
					font-size: 16px
					line-height: 20px

	.system
		top: 51%

		&-text
			font-size: 200px
			line-height: 200px

		.btn-grey
			right: 10px
			top: -20px
			padding: 8px 20px
			font-size: 14px

	h2, .h2
		font-size: 42px
		line-height: 46px


	.btn
		padding: 14px 32px
		font-size: 16px

		&-white
			padding: 9px 38px 7px


	.video

		&-wrap
			width: 600px
			height: 315px
			border-right: 45px solid #0A0712

		&-text
			padding-left: 80px
			font-size: 21px

	.banner
		&-gear
			&__black
				right: -35%

		&-text
			padding-right: 200px

	.icon-circle
		width: 12px
		height: 12px





@media screen and (max-width: 1365px)

	.header
		padding: 60px
		min-height: 1080px
	
	.banner 
		.container
			padding-top: 54px

		&-face
			height: auto
			width: auto

		&-text
			padding-right: 200px

	.logo 
		margin-bottom: 20px

	.main-menu
		li
			margin-bottom: 16px


	.system
		top: 52%

		&-text
			font-size: 170px
			line-height: 170px

	.video

		&-wrap
			width: 520px
			height: 270px
			border-right: 38px solid #0A0712

	.advantages
		&:before
			width: 634px
			height: 634px
			left: -317px
			background-size: contain

	.section
		padding: 50px 0





@media screen and (max-width: 1199px)

	.header
		padding: 50px

	.h2, h2
		font-size: 32px
		line-height: 38px
	
	.banner 
		.container
			padding-top: 40px

	.logo 
		margin-bottom: 0

	.main-menu
		li
			margin-bottom: 10px


	.system
		top: 54%

		&-text
			font-size: 136px
			line-height: 136px

	.video

		&-wrap
			width: 420px
			height: 220px
			border-right: 30px solid #0A0712

		&-text
			padding-left: 60px
			font-size: 18px





@media screen and (max-width: 991px)
	
	.header
		padding: 40px
		min-height: 740px

	.h2, h2
		font-size: 28px

	.banner
		bottom: 0

		&-text
			padding-right: 128px

			.h2
				&+p
					margin-bottom: 15px
					font-size: 16px

			.btn
				margin-bottom: 12px
				&+p
					padding-left: 24px
					font-size: 14px
					line-height: 16px

		&-gear
			&__black
				top: 18%

		.container
			padding-top: 30px

	.btn
		padding: 12px 24px
		font-size: 14px

	
	.system
		top: 60%


		&-text
			font-size: 110px
			line-height: 110px

		.btn-grey
			padding: 6px 14px

	.video

		&-wrap
			width: 336px
			height: 176px
			border-right: 24px solid #0A0712

		&-text
			padding-left: 50px
			font-size: 16px













@media screen and (max-width: 767px)

	.banner
		right: 0
